<div class="container" *ngIf="item">
  <div class="row">
    <div class="col-4">Title</div>
    <div class="col-8">{{item.title}}</div>
  </div>
  <div class="row">
    <div class="col-4">Description</div>
    <div class="col-8">{{item.description}}</div>
  </div>
  <div class="row">
    <div class="col-4">Created at</div>
    <div class="col-8">{{item.createdAt | date}}</div>
  </div>
  <div class="row">
    <button class="btn btn-secondary" [routerLink]="['']">Back</button>
  </div>
</div>